<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>ExpenseBook</title>
  </head>
  <body class="body" style="background-color: rgb(208, 200, 216);" >
    <nav class="navbar navbar-expand-lg " style="background-color: rgb(182, 164, 199);">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: rgb(81, 54, 107);" href="#">ExpenseBook</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color: rgb(81, 54, 107);" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
      <!-- Modals to login -->
      <!-- Button trigger modal -->
    <button type="button" class="btn position-absolute top-50 start-50 translate-middle" style="background-color: rgb(155, 127, 179);" data-bs-toggle="modal" data-bs-target="#loginModal">
      Login
    </button>
    <button type="button" style="position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%); background-color: rgb(155, 127, 179);" class="btn register-button" data-bs-toggle="modal" data-bs-target="#registerModal">
      Register
    </button>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1"  class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We never share you.</div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input oninput="passwordlength()" name="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary container-fluid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal registration -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="register" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" min="3" class="form-control" id="name" name="name" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input type="text" min="3" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email"  class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label >
            <input oninput="passwordlength()" type="password" name="password" class="form-control" id="inputPassword" required>
            <span style="font-size: 12px; color: brown; position: absolute;" class="invisible" id="small-password-err-msg">Password length must be 6 character!!</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input   oninput="validatesamepassword()" type="password" class="form-control" id="confirmPassword" required>
            <span style="font-size: 12px; color: brown;" class="invisible" id="same-password-err-msg">Password & Confirm Password must be same!!</span>
          </div>
          <button type="submit" id="register-button-submit" class="btn disabled btn-primary container-fluid register-button-submit ">Submit</button>
          <!-- <button id="">test btn</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<!-- <script src="./script.js"></script> -->
<script>
// alert("working")
const password = document.getElementById("inputPassword");
const confirmpassword = document.getElementById("confirmPassword");
const RegisterButton = document.getElementById("register-button-submit");
const errmsg= document.getElementById("same-password-err-msg");
const lengtherrmsg= document.getElementById("small-password-err-msg");


function validatesamepassword(){
  if(password.value!=confirmpassword.value){
    errmsg.classList.remove("invisible");
    RegisterButton.classList.add("disabled")
  } else{
    errmsg.classList.add("invisible");
    RegisterButton.classList.remove("disabled")
  }
}
console.log(window);
function passwordlength(){
  if(password.value.length<6){
    lengtherrmsg.classList.remove("invisible")
  } else{
    lengtherrmsg.classList.add("invisible")
  }
}
</script>
</body>
</html>