<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="main" style="overflow: hidden;">
        <div class="lside">
            <div class="company_name_logo">
                <img class="logo" style="border-radius: 50%;"
                    src="https://webfeb.in/wp-content/uploads/2016/11/logo-design-for-it-company.jpg" height="50px"
                    width="50px" alt="">
                <h3 class="expense_book">Expense Book</h3>
            </div>
            <h2 class="profile_name">Hello, John</h2>
            <form class="create_expense_form hide ">
                <input class="create_expense_form_input hide" type="text" placeholder="Enter Expense name">
                <a class="fa f-plus text-white create_expense_form_submit " href="#"><img height="23.5px" width="23.5px"
                        class="add_sign hide" style="margin-bottom: -5px;"
                        src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png" alt=""></a>
            </form>
            <h3 class="create_expense"><small class=""><img height="23.5px" width="23.5px" class="addsign"
                        style="margin-bottom: -4px; "
                        src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"
                        alt=""></small>Create Expense</h3>

            <div class="expensename">
                <div class="expensename_card">ExpenseName <small style="font-size: 12px;"
                        class="badge badge-secondary"></small> </div>
                <!-- <div class="expensename_card_clicked">January 2020</div>
                <div class="expensename_card">Addvertisement</div>
                <div class=" expensename_card_clicked">ExpenseName</div>
                <div class="expensename_card">ExpenseName</div>
                <div class="expensename_card">ExpenseName</div>
                <div class="expensename_card">ExpenseName</div> -->
            </div>
            <h5 class="btn_logout">Logout</h5>

        </div>
        <div class="rside">
            <div class="expense_name_description">
                <h3 class="expense_name_">Expense One</h3>
                <small class="expense_description_">Lorem ipsum dolor sit amet consectetur This is the description of
                    the expense about 20 words.</small>
                <form class="adduserform" action="add user">
                    <input class="create_expense_form_input adduser" type="text" placeholder="Add User with email  ">
                    <a class="fa f-plus text-white create_expense_form_submit " href="#"><img height="23.5px"
                            width="23.5px" class="add_sign" style="margin-bottom: -8.5px; margin-left: -30px;"
                            src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"
                            alt=""></a>
                </form>
                <small class="user_unavailable_msg">This user is not available!!!</small>
            </div>
            <div class="table_header">
                <p class="header_date"><img
                        height="20px" width="20px" src="./image/round_event_note_black_18dp.png" alt=""> Date</p>
                <p class="header_name"> <img
                        height="20px" width="20px" src="./image/round_person_pin_black_18dp.png" alt=""> Name</p>
                <p class="header_remarks"><img
                        height="20px" width="20px" src="./image//round_speaker_notes_black_18dp.png" alt=""> Remarks</p>
                <p class="header_amount"> <img
                        height="20px" width="20px"
                        src="https://cdn3.vectorstock.com/i/1000x1000/27/72/currency-symbol-india-indian-rupee-inr-vector-14052772.jpg"
                        alt="">Amount</p>
            </div>
            <div class="expense_table">
                <div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill</p>
                    <p class="header_amount">₹ 2500</p>
                </div>
                <div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill</p>
                    <p class="header_amount">₹ 2500</p>
                </div><div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill</p>
                    <p class="header_amount">₹ 2500</p>
                </div><div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, repellat!</p>
                    <p class="header_amount">₹ 2500</p>
                </div><div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill</p>
                    <p class="header_amount">₹ 2500</p>
                </div><div class="table_content">
                    <p class="header_date">21/8/2019</p>
                    <p class="header_name" >Synthiya</p>
                    <p class="header_remarks">Comics Bill</p>
                    <p class="header_amount">₹ 2500</p>
                </div>
                
                <div class="table_content">
                    <p class="header_date">21/12/2019</p>
                    <p class="header_name">Aman</p>
                    <p class="header_remarks">Birthday Cake</p>
                    <p class="header_amount">₹ 850</p>
                </div>

                <div class="table_content">
                    <p class="header_date">21/12/2019</p>
                    <p class="header_name">Aman</p>
                    <p class="header_remarks">Birthday Cake</p>
                    <p class="header_amount">₹ 850</p>
                </div><div class="table_content">
                    <p class="header_date">21/12/2019</p>
                    <p class="header_name">Aman</p>
                    <p class="header_remarks">Birthday Cake</p>
                    <p class="header_amount">₹ 850</p>
                </div>

                <div class="table_content">
                    <p class="header_date">7/10/2019</p>
                    <p class="header_name">Tanmay</p>
                    <p class="header_remarks" >Room Rent</p>
                    <p class="header_amount">₹ 7500</p>
                </div>
                <div class="table_content">
                    <p class="header_date" >21/8/2019</p>
                    <p class="header_name">Synthiya</p>
                    <p class="header_remarks">Comics Bill Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, adipisci!</p>
                    <p class="header_amount" >₹ 2500</p>
                </div>
            </div>
            <form class="expense_input_form">
                <!-- <input type="text">
                <input type="text"> -->
                
                <input class="create_expense_form_input adduser" type="text" placeholder="Remarks...  ">
                <input class="create_expense_form_input adduser" type="text" placeholder="Amount...  ">
                <input class="create_expense_form_input adduser submit_expense " type="Submit" value="Add to Expense" >
                <!-- <a class="fa f-plus text-white create_expense_form_submit " href="#"><img height="23.5px"
                    width="23.5px" class="add_sign" style="margin-bottom: -8.5px; margin-left: -30px;"
                    src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"
                    alt=""></a> -->
       
                    <!-- <a class="fa f-plus text-white create_expense_form_submit " href="#"><img height="23.5px"
                        width="23.5px" class="add_sign" style="margin-bottom: -8.5px; margin-left: -30px;"
                        src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"
                        alt=""></a> -->
            </form>
            <!-- <div class="other_users"></div> -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- <script src="jquery-3.5.1.min.js"></script> -->
    <script src="../javascripts/script.js"></script>
</body>

</html>